@use 'breakpoints';
@use 'spacers';

body {
    margin: auto;
    max-width: 1440px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: var(--space-xxl);
}

.footer {
    flex-shrink: 0;
}

@include breakpoints.breakpoint(lg) {
    .content {
        margin-left: var(--space-xxxl);
        margin-right: var(--space-xxxl);
    }
}
