@use 'breakpoints';

body {
    margin: auto;
    max-width: 1440px;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer {
    flex-shrink: 0;
}

@include breakpoints.breakpoint(md) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@include breakpoints.breakpoint(lg) {
    .content {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
}
