@use 'breakpoints';

:root {
  // font family
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans JP", sans-serif;

  // type scale
  --base-size: 1em; // based on minor 2nd ratio
  --scale-ratio: 1.25; // based on major 3rd ratio

  // type sizes
  --type-xxl: calc(var(--type-xl) * var(--scale-ratio));
  --type-xl: calc(var(--type-lg) * var(--scale-ratio));
  --type-lg: calc(var(--type-md) * var(--scale-ratio));
  --type-md: calc(var(--type-sm) * var(--scale-ratio));
  --type-sm: calc(var(--base-size) * var(--scale-ratio));
  --type-xs: calc(var(--base-size) / var(--scale-ratio));
}

@include breakpoints.breakpoint(md) {
  h3 {
    line-height: 1.45;
  }
}

@include breakpoints.breakpoint(lg) {
  h1 {
    line-height: 1.15;
  }

  h2 {
    line-height: 1.5;
  }
  h3 {
    line-height: 1.5;
  }
}

/* h1 */

h1 {
  margin: 0;
  min-width: 0;
  font-size: var(--type-xl);
  font-family: var(--font-secondary);
  line-height: 1.25;
  font-weight: 800;
  -webkit-letter-spacing: -0.015em;
  -moz-letter-spacing: -0.015em;
  -ms-letter-spacing: -0.015em;
  letter-spacing: -0.015em;
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-xxxs);
}

/* h2 */

h2 {
  margin: 0;
  min-width: 0;
  font-family: var(--font-secondary);
  font-size: var(--type-lg);
  line-height: 1.2;
  font-weight: 400;
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-xxxs);
}

/* h3 */

h3 {
  margin: 0;
  min-width: 0;
  font-size: var(--type-md);
  line-height: 1.4;
  font-weight: 500;
  -webkit-letter-spacing: -0.015em;
  -moz-letter-spacing: -0.015em;
  -ms-letter-spacing: -0.015em;
  letter-spacing: -0.015em;
  margin-top: var(--space-xxxxs);
  margin-bottom: var(--space-xxxxs);
}

/* h3 */

h4 {
  margin: 0;
  min-width: 0;
  font-size: var(--type-sm);
  line-height: 1.4;
  font-weight: 500;
  -webkit-letter-spacing: -0.015em;
  -moz-letter-spacing: -0.015em;
  -ms-letter-spacing: -0.015em;
  letter-spacing: -0.015em;
  margin-top: var(--space-xxxxs);
  margin-bottom: var(--space-xxxxs);
}

body {
  margin: 0;
  min-width: 0;
  font-size: var(--base-size);
  font-family: var(--font-primary);
  line-height: 1.6;
  font-weight: 400;
}

// Noto Sans JP

@font-face {
  font-family: "Noto Sans JP";
  src: local("Noto Sans JP Light"), url("../../fonts/NotoSansJP-Light-Alphabetic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("Noto Sans JP Bold"), url("../../fonts/NotoSansJP-Bold-Alphabetic.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("Noto Sans JP Medium"), url("../../fonts/NotoSansJP-Medium-Alphabetic.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: local("Noto Sans JP Regular"), url("../../fonts/NotoSansJP-Regular-Alphabetic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Open Sans */

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), url("../../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), url("../../fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
