@use 'breakpoints';

/* Layout Wrapper */
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.wrapper > * {
    grid-column: col-start / span 12;
}

body {
    margin: auto;
    max-width: 1440px;
}

.content {
    grid-column: col-start / span 12;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

@include breakpoints.breakpoint(md) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@include breakpoints.breakpoint(lg) {
    .content {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
}
