@use 'breakpoints';

/*** Containers ***/

.container-bio,
.container-music {
    display: flex;
    flex-direction: column;
    max-width: var(--width);
    margin-left: var(--space-xxxl);
    margin-right: var(--space-xxxl);
    margin-top: var(--space-xxxxl);
    padding-bottom: var(--space-xxs);
}

.container-video {
    margin-top: var(--space-xxxxl);
}

/*** Container Assets ***/

.profile,
.album {
    flex: 1;
    margin: auto;
}

.profile {
    width: 50%;
}

.album {
    width: 100%;
    margin-bottom: var(--space-md);
    margin-top: var(--space-md);
}

.video {
    margin-top: var(--space-xxl);
    padding-bottom: var(--space-xxxxl);
}

.text-bio,
.text-album {
    flex: 1;

    h1 {
        margin-top: var(--space-sm);
    }

    h1,
    h2 {
        font-size: var(--type-lg);
        margin-bottom: var(--space-md);
        text-align: center;
    }

    p {
        margin: var(--space-md) 0;
    }

    a {
        text-decoration: underline;
    }
}

/*** Video Header ***/

.h2 {
    text-align: center;
    font-size: var(--type-lg);
    line-height: 1.25;
    font-weight: 800;
}

/*** Media Queries ***/

@include breakpoints.breakpoint(md) {
    .container-bio,
    .container-music {
        margin-left: auto;
        margin-right: auto;
    }
}

@include breakpoints.breakpoint(xl) {
    .h2 {
        font-size: var(--type-xl);
        text-align: center;
        margin-top: 0;
    }

    .container-bio,
    .container-music {
        flex-direction: row;
        flex-flow: row-reverse;
        max-width: 100%;
    }

    .profile,
    .album {
        flex: 1;
    }

    .profile {
        margin: 0 0 0 var(--space-sm);
    }

    .album {
        margin: 0 var(--space-sm) 0 0;
    }

    .text-bio,
    .text-album {
        flex: 1;

        h1 {
            text-align: left;
            font-size: var(--type-xl);
            margin-bottom: var(--space-xxxs);
            margin-top: 0;
        }
    }

    .text-bio {
        margin: 0 var(--space-sm) 0 0;
    }

    .text-album {
        flex: 1;
        margin: 0 0 0 var(--space-sm);

        .h2 {
            font-size: var(--type-xl);
            text-align: left;
            margin-top: 0;
            margin-bottom: var(--space-xxxs);
        }

        p {
            text-align: left;
            margin-top: 0;
        }
    }
}
