/* Footer styles */

@use 'breakpoints';
@use 'global';

.footer {
    margin: var(--space-xxxl);

    p {
        text-align: center;
        font-size: var(--type-xs);
    }
}

@include breakpoints.breakpoint(md) {
    .footer {
        p {
            text-align: right;
        }
    }
}
