.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 3 / 11;
}

.text {
    grid-column: 3 / 11;
}

.one-image {
    grid-column: 1 / 13;
}

.two-images {
    grid-column: span 6;
}
