@use 'breakpoints';

/* Header and navigation styles */

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        margin-left: 0;

        li {
            display: inline;

            a {
                text-decoration: none;
            }

            a:link {
                color: black;
            }

            a:focus {
                color: #d85945;
            }

            a:hover {
                border-bottom: 1px solid;
                color: #d85945;
            }

            a:active {
                border-bottom: 1px solid;
                color: #d85945;
            }
        }

        li:nth-child(n + 2) {
            margin-left: 1rem;
        }
    }
}

.selected {
    border-bottom: 1px solid;
    color: #d85945;
}

@include breakpoints.breakpoint(md) {
    .header {
        margin-top: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;

        .header-div {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
    }
}

@include breakpoints.breakpoint(lg) {
    .header {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
