@use 'breakpoints';

/* Header and navigation styles */

.logo {
    display: flex;
    align-items: baseline;

    img {
        margin-bottom: 0;
    }

    span {
        display: none;
        font-size: var(--type-md);
        font-family: var(--font-secondary);
        font-weight: 600;
        margin-left: var(--space-xs);
        line-height: normal;
    }
}

.header {
    margin: var(--space-xxl) var(--space-xxxl);
}

.header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    ul {
        list-style-type: none;
        margin-left: 0;

        li,
        .page-link {
            display: inline;

            a {
                text-decoration: none;
            }

            a:link {
                color: black;
            }

            @media (hover: hover) {
                a:hover {
                    // border-bottom: 1px solid;
                    color: #d85945;
                }
            }
        }

        li:nth-child(n + 2) {
            margin-left: 1rem;
        }
    }
}

.page-link {
    a:active {
        border-bottom: 1px solid;
        color: #d85945;
    }
}

.selected {
    border-bottom: 1px solid;
    color: #d85945;
}

@include breakpoints.breakpoint(md) {
    .logo {
        span {
            display: inline-block;
        }
    }

    .header-div {
        align-items: baseline;
    }
}
