/* Header and navigation styles */

.header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    a {
        text-decoration: none;
        color: black;
    }
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        list-style-type: none;

        li {
            display: inline;
        }
        
        li:nth-child(n+2) {
            margin-left: 1rem;
        }
    }
}

@media screen and (min-width: 560px) {
    .header {
        margin-top: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;

        .header-div {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media screen and (min-width: 1180px) {
    .header {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}
