@use 'breakpoints';
@use 'colors';
@use 'global';

.top-module {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-xxxl);
    margin-bottom: var(--space-xxxl);
    margin-left: auto;
    margin-right: auto;
    width: var(--width);

    h1 {
        font-size: var(--type-xxl);
        text-align: center;
        margin: 0;
        color: colors.$h1;
    }

    h2 {
        font-weight: 500;
        text-align: center;
    }

    a {
        color: #f0ebe9;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    a:link {
        color: #f0ebe9;
    }

    a:focus {
        color: #d85945;
    }

    @media (hover: hover) {
        a:hover {
            -webkit-text-stroke: 1px #d85945;
            color: #f0ebe9;
            text-shadow: 3px 3px 0 #d85945, -1px -1px 0 #d85945, 1px -1px 0 #d85945, -1px 1px 0 #d85945,
                1px 1px 0 #d85945;
        }
    }
}

.projectInfo {
    h3 {
        font-weight: 600;
        font-size: var(--type-lg);
    }

    p {
        margin-bottom: var(--space-xxxxs);
    }
}

a {
    text-decoration: none;
    color: black;
}

.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: var(--space-xxxl);
    margin-right: var(--space-xxxl);
}

.article {
    grid-column: span 12;
    margin-bottom: var(--space-xxl);
}

@include breakpoints.breakpoint(lg) {
    .article {
        grid-column: span 12;
    }

    .projects {
        column-gap: var(--space-xl);
        margin-left: 0;
        margin-right: 0;
    }
}
