@use 'breakpoints';
@use 'colors';

.top-module {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: var(--text-xxxxl);
        text-align: center;
        color: colors.$h1;
    }

    h2 {
        font-weight: 500;
        text-align: center;
    }
}

h3 {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
}

.article {
    grid-column: span 12;
}

@include breakpoints.breakpoint(md) {
    .top-module {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 90%;
    }

    .article {
        grid-column: span 6;
    }
}

@include breakpoints.breakpoint(lg) {
    .top-module {
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 70%;
    }
}
