@use 'colors';
@use 'breakpoints';

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.image {
    grid-column: span 12;
}

.title {
    background-color: colors.$background;
    grid-column: 2 / 12;
    z-index: 99;
    border-radius: 4px 4px 0 0;
    margin-top: calc(-1 * (var(--space-xxxl)));
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
    // margin-bottom: var(--space-lg);

    h2 {
        font-size: var(--type-md);
        font-weight: 400;
    }
}

.body {
    margin-left: var(--space-xxxl);
    margin-right: var(--space-xxxl);

    h2,
    h3,
    h5,
    h6 {
        margin-top: var(--type-lg);
    }

    h3 {
        font-size: var(--type-lg);
    }

    h4,
    h5 {
        margin-bottom: var(--space-xs);
    }

    p {
        margin-top: var(--space-xxs);
        margin-bottom: var(--space-sm);
    }

    ul,
    ol {
        margin-top: var(--space-xs);
        margin-bottom: var(--space-sm);

        li {
            margin-bottom: var(--space-xxs);
        }
    }
}

@include breakpoints.breakpoint(lg) {
    .image {
        grid-column: 4 / 13;
    }

    .title {
        grid-column: 1 / 9;
        padding-left: 0;
    }

    .body {
        margin: 0;
    }

    .test-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}
