@use 'breakpoints';

.scrollTop {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: var(--space-xxxl);
    margin-right: var(--space-xxxl);

    a {
        color: black;
        font-weight: 600;
    }

    a:link {
        color: black;
    }

    a:focus {
        color: #d85945;
    }

    a:hover {
        color: #d85945;
    }
}

@include breakpoints.breakpoint(md) {
    .scrollTop {
        justify-content: flex-end;
        margin-top: 2rem;
    }
}

@include breakpoints.breakpoint(lg) {
    .scrollTop {
        margin-top: 5rem;
        margin-left: 0;
        margin-right: 0;
    }
}
